<!--<p-panel header="Contact us">
    <p>
      Click on the email ID <a (click)="openDialogForMail()">nikhilzurunge8@gmail.com</a> to contact me.
    </p>
  </p-panel>-->

  <p-card header="Nikhil Zurunge" subheader="Software Engineer"  [style]="{width: '260px'}" styleClass="ui-card-shadow">
    <p-header>
        <img src="Card" src="assets/images/background.jfif">
    </p-header>
    <div>A Dummy Project to demonstrate a portal using PrimeNG and Angular 8. Mail me for the details.</div>
    <p-footer>
        <button pButton type="button" label="Email" icon="pi pi-inbox" (click)="openDialogForMail()" style="margin-right: .25em"></button>
        
    </p-footer>
</p-card>
